<h1>Migración de datos Azure Storage Tables</h1>

<form method="post">
    <button class="btn btn-danger">
        Migrar datos XML Azure Storage
    </button>
</form>

<h1 style="color:blue">
    @ViewData["MENSAJE"]
</h1>