<h1 style="color:red">
    Generar Token de Alumnos
</h1>

<form method="post">
    <label>Introduzca curso: </label>
    <input type="text" name="curso" class="form-control"/>
    <button class="btn btn-warning">
        Token
    </button>
</form>

<p>Token generado: </p>
<textarea class="form-control">@ViewData["TOKEN"]</textarea>